<!DOCTYPE html>
<html lang="IS">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Tónaleikarnir</title>
</head>
<body>
    <header>
        <h1>Tónaleikarnir</h1>
        <nav>
            <ul>
                <li><a href="/">Heim</a></li>
                <li><a href="/login">Innskráning</a></li>
                <li><a href="/groups">Hópar</a></li>
                <li><a href="/songs">Lög</a></li>
            </ul>
        </nav>
    </header>