<!DOCTYPE html>
<html lang="IS">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/forms.css">
    
    <% if (typeof page !== 'undefined') { %>
      <% if (page === 'group' || page === 'groupAdmin') { %>
        <link rel="stylesheet" href="/css/pages/group.css">
      <% } else if (page === 'profile') { %>
        <link rel="stylesheet" href="/css/pages/user-profile.css">
      <% } else if (page === 'voting') { %>
        <link rel="stylesheet" href="/css/pages/voting.css">
      <% } else if (page === 'song') { %>
        <link rel="stylesheet" href="/css/pages/song.css">
      <% } else if (page === 'admin') { %>
        <link rel="stylesheet" href="/css/pages/admin.css">
      <% } %>
    <% } %>
    
    <title>Tónaleikarnir</title>
</head>
<body>
    <header>
        <h1><a href ="/">Tónaleikarnir</a></h1>
        <nav>
            <ul>
                <% if (!isAuthenticated) { %>
                  <li><a href="/login">Innskráning</a></li>
                  <li><a href="/signup">Nýskráning</a></li>
                <% } else { %>
                  <li><a href="/logout">Útskráning</a></li>
                  <li><a href="/users/<%= user.id %>">Mín síða</a></li>
                <% } %>

                <li><a href="/groups">Hópar</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
